<ion-view view-title="My Worklist" hide-back-button="true">
  <ion-content class="padding">
    <table class="ta-worklist table table-striped">
    <thead>
      <tr>
        <th><b>ID</b></th>
        <th><b>Description</b></th>
        <th><b>Category</b></th>
        <th><b>Due</b></th>
      </tr>
    </thead>
    <tbody>
      <tr class='clickable-row' data-href="#/tab/worklist/detail">
        <td><b>PASS-22</b></td>
        <td>Conduct Assessment</td>
        <td>Assessment</td>
        <td></td>
      </tr>
      <tr class='clickable-row' data-href="#/tab/worklist/detail">
        <td><b>PASS-19</b></td>
        <td>Downlaod Form</td>
        <td>Assessment</td>
        <td></td>
      </tr>
      <tr class='clickable-row' data-href="#/tab/worklist/detail">
        <td><b>PASS-18</b></td>
        <td>Review Assessment</td>
        <td>Assessment</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </ion-content>
</ion-view>
